.match-list {
    margin-top: 1%;
}
.match-list h1 {
    font-size: 3rem;
}

.match-list p {
    font-size: 2rem;
}

.match-list img {
    max-width: 100%;
    height: 50px;
}

.match-list.special.cards .image{
  on: 'hover'
}
